<ion-card>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img [src]="avatar"/>
    </ion-thumbnail>
    <ion-row *ngIf="!enableEdit">
      <ion-col size="12">
        <ion-text>
          {{ name }}
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-text>
            {{ number }}
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    <div *ngIf="enableEdit">
      <ion-input [ngModel]="name"></ion-input>
      <ion-input [ngModel]="number" inputmode="tel"></ion-input>
    </div>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="call()">
        <ion-icon name="call-sharp"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only" (click)="showMoreData()">
        <ion-icon name="chevron-down-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <app-contact-data *ngIf="hideAditionalData" [contact]="contact">
    <ion-button color="success" (click)="treatEdit()" *ngIf="!enableEdit">
      Editar
    </ion-button>
    <ion-button color="primary" (click)="treatEdit()" *ngIf="enableEdit">
      Salvar
    </ion-button>
  </app-contact-data>
</ion-card>